:root {
    --clr-netural-900: hsl(207, 19%, 9%);
    --clr-netural-100: hsl(0, 0%, 100%);
    --clr-accent-400: #ea5911;
}

h2 {
    letter-spacing: 0.3em;
    bottom: .6em;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}



.card {
    margin-left: 40px;
    margin-right: 40px;
    color: var(--clr-netural-100);
    background-size: cover;
    padding: 10rem 0 0;
    width: 40ch;
    border-radius: 0.4rem;
    overflow: hidden;

    transition: transform 500ms ease;

}

.card[a] {
    background-image: url(img/profilkep/gyuri.jpg);
}

.card[b] {
    background-image: url(img/profilkep/Kevin01.jpg);
}

.card[d] {
    background-image: url(img/profilkep/Morár\ Józsi.jpg);
}

.card[e] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[f] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[g] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[h] {
    background-image: url(img/profilkep/Nagy\ Szabolcsjpg.jpg);
}

.card[i] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[a1] {
    background-image: url(img/profilkep/Szigetvári\ István.jpg);
}

.card[b1] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[c1] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[d1] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[e1] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[f1] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card[a2] {
    background-image: url(img/profilkep/Névtelen.png);
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.3) 10%,
            hsl(0 0% 0% / 1));
}

@media (hover) {

    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.card-title {
    position: relative;
    width: 350px;
    bottom: 30px;
}



.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    background: var(--clr-accent-400);
    width: calc(100% + var(--padding));

    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255 255 255 / 0.8);
}
